main.main
	div.main__container
		div.main__list
			each item in data
				div.list__section
					ul.list__item
						li.list__value Name: #{item.name}
						li.list__value Description: #{item.desc}
						li.list__value Health: #{item.health}
						li.list__value Power: #{item.power}
						li.list__value Price: #{item.price}
					input(class="item__hidden--id" type="hidden", name="value_id", value="#{item._id}")
									